@use 'vars' as vars;

@mixin grayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$gray22;
  color: vars.$textColor;
  border: none;
  border-radius: vars.$borderSize;
  padding: 12px 22px;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / vars.$desktopNumber * 100}vw, #{$max}px);
}