// z Indexes
$zIndex0: 0;
$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;
$zIndex4: 4;
$zIndex5: 5;
$zIndex6: 9999; //использовать только тогда, когда надо перекрыть весь app
$zIndexOverDrawer: 1300; //перекрыть drawer mui

$borderSize: 15px;

// font
$font: system-ui, sans-serif;
$regular: 400;
$medium: 500;

// colors
$white: #ffffff;
$black: #000000;
$gray22: #222222;
$gray77: #777777;
$grayD9: #D9D9D9;
$textColor: #f0f0f0;

// sizes
$desktop-above: 1281px;
$desktop: 1280px;
$tablet-above: 1024px;
$tablet: 1023px;
$mobile-above: 768px;
$mobile: 767px;
$mobile-s-above: 481px;
$mobile-s: 480px;

$maxContainerWidth: 1920px;