@use 'src/app/styles/mixins' as mixins;
@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/media' as media;

.list {
  @include mixins.flex-center;
  width: 100%;
  margin-top: 47px;
  margin-inline: 14px;


  &__grid {
    display: grid;
    column-gap: 35px;
    row-gap: 18px;
    justify-items: center;

    @include media.mobile {
      width: 100%;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @include media.mobile-above {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media.desktop-above {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      row-gap: 42px;
    }
  }
}