@use 'src/app/styles/media' as media;
@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/mixins' as mixins;

.reviewList {
  display: flex;
  margin-inline: 14px;

  @include media.mobile-above {
    gap: 34px;
  }

  @include media.mobile {
    @include mixins.flex-center;
    gap: 22px;
  }

  &__item {
    background: vars.$grayD9;
    border-radius: 15px;
    padding-block: 23px;
    color: black;
    word-break: break-word;

    * {
      font-size: 24px;
    }

    @include media.tablet-above {
      max-width: 468px;
    }

    @include media.mobile-above {
      padding-inline: 27px;
    }

    @include media.mobile {
      padding-inline: 19px;
      max-width: 332px;
      width: 100%;
    }
  }
}