@use 'src/app/styles/media' as media;
@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/mixins' as mixins;

.reviewList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 240px;

  @include media.mobile-above {
    gap: 34px;
  }

  @include media.mobile {
    @include mixins.flex-center;
    width: 100%;
    gap: 22px;
    margin-bottom: 164px;
  }

  &__item {
    background: vars.$grayD9;
    border-radius: vars.$borderSize;
    padding-block: 23px;
    color: black;
    word-break: break-word;

    * {
      font-size: 24px;
    }

    @include media.tablet-above {
      max-width: 468px;
    }

    @include media.mobile-above {
      padding-inline: 27px;
    }

    @include media.mobile {
      padding-inline: 19px;
      width: 100%;
    }
  }
}