@use 'src/app/styles/mixins' as mixins;
@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/media' as media;

.header {
  font-weight: vars.$regular;
  color: vars.$white;
  max-height: 132px;
  margin-inline: 14px;

  @include mixins.flex-center;

  @include media.mobile {
    margin-top: 13px;
    margin-bottom: 97px;
  }

  @include media.mobile-above {
    margin-top: 55px;
    margin-bottom: 105px;
  }

  &__container {
    border-radius: vars.$borderSize;
    width: 100%;
    height: 100%;
    max-width: 1442px;
    max-height: 132px;
    background: vars.$gray77;

    @include mixins.flex-center;

    @include media.mobile {
      padding: 6px 0 6px 0;
    }

    @include media.mobile-above {
      padding: 0 0 16px 0;
    }
  }
}