@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/mixins' as mixins;
@use 'src/app/styles/media' as media;

.card {
  @include mixins.flex-center;

  background-color: vars.$grayD9;
  border-radius: vars.$borderSize;
  padding: 8px 10px;
  width: 301px;
  color: vars.$black;
  text-align: center;
  font-weight: vars.$regular;

  @include media.mobile {
    width: 100%;
  }

  &__imageContainer {
    position: relative;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: vars.$borderSize;
    object-fit: cover;
  }

  &__description {
    text-align: start;
    font-size: 24px;
    color: vars.$black;
  }

  &__price {
    font-size: 36px;
  }

  &__bottom {
    @include mixins.flex-center;

    margin-top: auto;
    width: 100%;
  }

  &__buttons {
    @include mixins.flex-center;

    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }

  &__buttonBuy {
    @include mixins.grayContainer;

    width: 100%;
    cursor: pointer;
  }
}


