@import "tailwindcss";

@theme {
    --color-gray-22: #222222;
    --color-gray-77: #777777;
    --color-gray-d9: #D9D9D9;
    --color-textColor: #f0f0f0;
    --color-error: red;
    --color-accept: green;
    --color-acceptColor: #4CAF50;
    --color-errorColor: #F44336;
    --color-white: #ffffff;

    --font-sans: system-ui, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --z-6: 9999;
    --z-overDrawer: 1300;
    --radius: 15px;
}

@layer components {
    .gray-container {
        @apply flex flex-col items-center justify-center bg-gray-22 text-textColor rounded px-5 py-3 text-4xl;
    }

    .gray-container-sm {
        @apply flex flex-col items-center justify-center bg-gray-22 text-textColor rounded px-2 py-1 text-2xl;
    }
}

html {
    scrollbar-gutter: stable;
}