@use 'src/app/styles/mixins' as mixins;

.quantityInput {
  @include mixins.flex-center;

  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;

  &__button {
    @include mixins.grayContainer;

    cursor: pointer;
  }

  &__input {
    @include mixins.grayContainer;

    cursor: pointer;
    max-width: 128px;
    text-align: center;
  }
}
