@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/mixins' as mixins;

.popup {
  @include mixins.flex-center;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  z-index: vars.$zIndexOverDrawer;
  padding: 16px 24px;
  border-radius: vars.$borderSize;
  box-shadow: 0 4px 12px rgba(vars.$black,0.15);
  color: vars.$white;
  gap: 12px;
  font-weight: vars.$medium;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &__closeButton {
    background: transparent;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
  }
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.popup.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%) translateY(-30px);
}

.success {
  background-color: vars.$acceptColor;
}

.error {
  background-color: vars.$errorColor; // красный
}
