@use 'src/app/styles/vars' as vars;
@use 'src/app/styles/mixins' as mixins;
@use 'src/app/styles/media' as media;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: vars.$grayD9;
  border-radius: vars.$borderSize;
  padding: 8px 10px;
  max-width: 301px;
  color: vars.$black;
  text-align: center;
  font-weight: vars.$regular;

  @include media.tablet {
    max-width: 332px;
  }

  &__imageContainer {
    position: relative;
    width: 100%;
    max-width: 281px;

    @include media.tablet {
      max-width: 310px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: vars.$borderSize;
    object-fit: cover;
  }

  &__description {
    text-align: start;
    font-size: 24px;
    color: vars.$black;
  }

  &__price {
    font-size: 36px;
  }

  &__bottom {
    @include mixins.flex-center;
    margin-top: auto;
    width: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: auto;
    width: 100%;
  }

  &__buttonBuy {
    @include mixins.grayContainer;

    width: 100%;
    cursor: pointer;
  }

  &__countControlsContainer {
    @include mixins.grayContainer;
    flex-direction: row;
  }

  &__countButton {
    @include mixins.grayContainer;

    cursor: pointer;
  }

  &__countInput {
    @include mixins.grayContainer;

    cursor: pointer;
    max-width: 128px;
    text-align: center;
  }
}


